{% extends "_layout.html.twig" %}

{% block content %}
<main>
    <div class="intro">
        
        <div class="row" >
            
            <div class="small-12 large-8 columns">
                <div class="introText">
                    <h2>RUNALYZE ist dein Lauftagebuch</h2>
                    <p>Es fokussiert sich auf das Laufen und hebt sich mit einzigartigen Rechenspielen, vielen Statistiken und Wettkampfprognosen von anderen Sporttagebüchern ab.<br> 
        Auf nur einer Seite hast du deine letzten Trainingseinheiten sowie aktuelle Prognosen und deine Form im Überblick. RUNALYZE ist vollständig konfigurierbar. Sportarten und Sporttypen kannst du nach deinen Bedürfnissen anpassen. </p>
                </div>

                <div class="row">
                    <div class="small-12 large-6 columns">
                        <h3>Noch kein Mitglied?</h3>
                        <p>Du bist noch kein Mitglied? Teste RUNALYZE jetzt <strong>kostenlos</strong> und entdecke alle Vorteile!</p>
                        <a href="#" class="loginBoxChange button small reg">Jetzt testen!</a>

                    </div>
                    <div class="small-12 large-6 columns">
                        <h3>Lorem ipsum</h3>
                        <p class="">
                            {% trans %}
                                Until now <strong>{{ numUser }}</strong> athlete is registered and
                            {% plural numUser %}
                                Until now <strong>{{ numUser }}</strong> athletes are registered and
                            {% endtrans %}
                            {% trans %}
                                has logged <strong>{{ numKm }}</strong>.
                            {% plural numUser %}
                                have logged <strong>{{ numKm }}</strong>.
                            {% endtrans %}

                            <br>

                            {% trans %}
                                <strong>{{ numUserOnline }}</strong> athlete is online.
                            {% plural numUser %}
                                <strong>{{ numUserOnline }}</strong> athletes are online.
                            {% endtrans %}
                        </p>

                    </div>
                </div>
                
                <!--<div id="login-panel">
                    <a class="loginBoxChange log" href="#" ><i class="fa fa-fw fa-lg fa-sign-in"></i> Einloggen</a>
                    <a class="loginBoxChange reg" href="#" ><i class="fa fa-fw fa-lg fa-user"></i> Neuen Account erstellen</a>
                    <a class="loginBoxChange pwf" href="#" ><i class="fa fa-fw fa-lg fa-lock"></i> Passwort vergessen?</a>
                </div>-->

            </div>
            <div class="small-12 large-4 columns">
                
                
                <aside class="loginBox">
                    <div id="login" class="boxWrapper active">
                        
                        <form action="login.php" method="post">
                            <fieldset>
                                <legend>{% trans "Login" %} <!--{% trans "Please login" %}--></legend>
                                
                                <div class="">
                                    <label for="username">
                                        {% trans "Username" %}
                                        <input id="username" name="username" class="" type="text" value="">
                                    </label>
                                </div>
                                <div class="">
                                    <label for="password" class="error">{% trans "Password" %}
                                        <input id="password" name="password" class="" type="password">
                                    </label>
                                    <small class="error">wrong Password</small>
                                </div>
                                <div class="">
                                    <div class="switch tiny">
                                        <input id="autologin" name="autologin" type="checkbox">
                                        <label for="autologin" class=""></label>
                                        {% trans "Remember me" %}
                                    </div> 
                                </div>
                            </fieldset>
                            <div class="clearfix">
                                <input type="submit" value="{% trans "Login" %}" name="submit" class="button secondary small right">
                            </div>
                            <div>
                                <a href="" class="loginBoxChange pwf">Passwort vergessen?</a>
                                
                            </div>
                        </form>
                    </div>
                    

                    <div id="registerFormular"  class="boxWrapper">
                        <form action="login.php" method="post">
                            <fieldset>
                                <legend onclick="show('log');">Neuen Account erstellen</legend>
                                <div class="w100 block">
                                    <label for="new_username">Nutzername</label> 
                                    <span class="input-with-unit">
                                        <input type="text" name="new_username" value="" id="new_username" class="middle-size">
                                    </span>
                                </div>

                                <div class="w100 block ">
                                    <label for="name">Name</label> 
                                    <span class="input-with-unit">
                                        <input type="text" name="name" value="" id="name" class="middle-size">
                                    </span>
                                </div>

                                <div class="w100 block ">
                                    <label for="email">E-Mail-Adresse</label>
                                    <span class="input-with-unit">
                                        <input type="text" name="email" value="" id="email" class="middle-size">
                                    </span>
                                </div>

                                <div class="w100 block ">
                                    <label for="password">Passwort</label> 
                                    <span class="input-with-unit">
                                        <input type="password" name="password" value="" id="password" class="middle-size">
                                    </span>
                                </div>

                                <div class="w100 block ">
                                    <label for="password_again">Passwort wiederholen</label> 
                                    <span class="input-with-unit">
                                        <input type="password" name="password_again" value="" id="password_again" class="middle-size">
                                    </span>
                                </div>
                            </fieldset>

                            <div class="clearfix">
                                <input type="submit" value="Registrieren" name="submit" class="button secondary small right">
                            </div>
                            
                        </form>
                    </div>

                    

                    <div class="forgotPassword  boxWrapper" id="forgotPassword">
                        <form action="login.php" method="post">
                            <fieldset>
                                <legend onclick="show('log');">Passwort vergessen?</legend>
                                <p class="info">
                                    Ein Link zur Passwortänderung wird an deine eingetragene E-Mail-Adresse gesendet.
                                </p>
                                <div class="">
                                    <label for="send_username">Nutzername
                                    <input id="send_username" name="send_username" class="" type="text" value="">
                                    </label>
                                </div>
                            </fieldset>

                            <div class="clearfix">
                                <input type="submit" value="Link senden" name="submit" class="button secondary small right">
                            </div>
                            
                            <div>
                                <a class="loginBoxChange log" href="#" >Zurück zum Login</a>
                            </div>
                        </form>
                    </div>


                </aside>

            </div>
        </div>
    </div>
    
    <div class="vorteile">
        <div class="row">
            <div class="small-12 large-4 columns">
                <h3><i class="fa fa-bar-chart"></i> Statistiken</h3>
                <p>RUNALYZE analysiert dein komplettes Training, berechnet deine Form, stellt Prognosen auf und visualisiert <strong>dein Training in Diagrammen</strong> - so ausführlich wie kein anderes Lauftagebuch.</p>
            </div>
            <div class="small-12 large-4 columns">
                
                <h3><i class="fa fa-cogs"></i> Konfiguration</h3>
                <p>RUNALYZE ist vollständig <strong>konfigurierbar</strong>. Du kannst selbst bestimmen, welche Daten du für deine Trainings erfassen möchtest und welche <strong>Statistiken</strong> dir wo angezeigt werden.</p>
            </div>
            <div class="small-12 large-4 columns">
                
                <h3><i class="fa fa-users"></i> Von Läufern für Läufer</h3>
                <p>RUNALYZE kommt <strong>von Läufern für Läufer</strong>. Wann immer du Anmerkungen, Probleme oder Wünsche hast: Sag uns Bescheid, es liegt uns am Herzen!</p>
            </div>
        </div>
    </div>


</main>


{% endblock %}

