{% extends "_layout.html.twig" %}

{% block content %}
<main>
    <div class="intro">
        
        <div class="row" >
            
            <div class="small-12 large-8 columns">
                <div class="introText">
	            <h2>{% trans %}RUNALYZE is your running diary{% endtrans %}</h2>
                    <p>Es fokussiert sich auf das Laufen und hebt sich mit einzigartigen Rechenspielen, vielen Statistiken und Wettkampfprognosen von anderen Sporttagebüchern ab.<br> 
        Auf nur einer Seite hast du deine letzten Trainingseinheiten sowie aktuelle Prognosen und deine Form im Überblick. RUNALYZE ist vollständig konfigurierbar. Sportarten und Sporttypen kannst du nach deinen Bedürfnissen anpassen. </p>
                </div>

                <div class="row">
                    <div class="small-12 large-6 columns">
                        <h3>{% trans %}Not yet a member?{% endtrans %}</h3>
                        <p>{% trans %}Test RUNALYZE for <strong>free</strong> and discover all advantages!{% endtrans %}</p>
                        <a href="#" class="loginBoxChange button small reg">{% trans %}Get your account now!{% endtrans %}</a>

                    </div>
                    <div class="small-12 large-6 columns">
                        <h3>Lorem ipsum</h3>
                        <p class="">
                        {% trans %}
                            Until now <strong>{{ numUser }}</strong> athlete is registered and has logged {{ numKm }}
                        {% plural numUser %}
                            Until now <strong>{{ numUser }}</strong> athletes are registered and have logged {{ numKm }}
                        {% endtrans %}                    
                        <br>
			{% if numUserOnline == 1 %}
			{% trans %}<strong>One</strong> athlete is online{% endtrans %}
			{% else %}
                        {% trans %}
                            one athlete is online
                        {% plural numUserOnline %}
                            <strong>{{ numUserOnline }}</strong> athletes are online
                        {% endtrans %}
			{% endif %}
                        </p>

                    </div>
                </div>
                
                <!--<div id="login-panel">
                    <a class="loginBoxChange log" href="#" ><i class="fa fa-fw fa-lg fa-sign-in"></i> Einloggen</a>
                    <a class="loginBoxChange reg" href="#" ><i class="fa fa-fw fa-lg fa-user"></i> Neuen Account erstellen</a>
                    <a class="loginBoxChange pwf" href="#" ><i class="fa fa-fw fa-lg fa-lock"></i> Passwort vergessen?</a>
                </div>-->

            </div>
            <div class="small-12 large-4 columns">
                
                
                <aside class="loginBox">
                    <div id="login" class="boxWrapper{% if switchpath == 'login' %} active{% endif %}">
                        
                        <form action="login" method="post">
                            <fieldset>
                                <legend>{% trans "Login" %} <!--{% trans "Please login" %}--></legend>
                                
                                <div class="">
                                    <label for="username">
                                        {% trans "Username" %}
                                        <input id="username" name="username" class="" type="text" value="">
                                    </label>
                                    {% if errorType == 1 %}
                                    <small class="error">wrong username</small>
                                    {% endif %}
                                </div>
                                <div class="">
                                    <label for="password" class="error">{% trans "Password" %}
                                        <input id="password" name="password" class="" type="password">
                                    </label>
                                    {% if errorType == 2 %}
                                    <small class="error">wrong Password</small>
                                    {% elseif errorType ==3 %}
                                     <small class="error">Account is not activated</small>
                                    {% endif %}
                                </div>
                                <div class="">
                                    <div class="switch tiny">
                                        <input id="autologin" name="autologin" type="checkbox">
                                        <label for="autologin" class=""></label>
                                        {% trans "Remember me" %}
                                    </div> 
                                </div>
                            </fieldset>
                            <div class="clearfix">
                                <input type="submit" value="{% trans "Login" %}" name="submit" class="button secondary small right">
                            </div>
                            <div>
                                <a href="" class="loginBoxChange pwf">{% trans %}Forgot your password?{% endtrans %}</a>
                                
                            </div>
                        </form>
                    </div>
                    

                    <div id="registerFormular"  class="boxWrapper{% if switchpath == 'register' %} active{% endif %}">
                        {% if regError == true %}
                            {% trans %}Thanks for your registration. You should receive an email within the next minutes with further instructions for activating your account.{% endtrans %}
                        {% else %}
                        <form action="register" method="post">
                            <fieldset>
                                <legend onclick="show('log');">{% trans %}Create a new account{% endtrans %}</legend>
                                <div class="w100 block">
                                    <label for="new_username">{% trans %}Username{% endtrans %}</label> 
                                    <span class="input-with-unit">
                                        <input type="text" name="new_username" value="" id="new_username" class="middle-size">
                                    </span>
                                  {% if regError.new_username is defined %}
                                         <small class="error">{{ regError.new_username }}</small>
                                    {% endif %}
                                </div>

                                <div class="w100 block ">
                                    <label for="name">{% trans %}Name{% endtrans %}</label> 
                                    <span class="input-with-unit">
                                        <input type="text" name="name" value="" id="name" class="middle-size">
                                    </span>
                                </div>

                                <div class="w100 block ">
                                    <label for="email">{% trans %}Email{% endtrans %}</label>
                                    <span class="input-with-unit">
                                        <input type="text" name="email" value="" id="email" class="middle-size">
                                    </span>
                                    {% if regError.email is defined %}
                                         <small class="error">{{ regError.email }}</small>
                                    {% endif %}
                                </div>

                                <div class="w100 block ">
                                    <label for="password">{% trans %}Password{% endtrans %}</label> 
                                    <span class="input-with-unit">
                                        <input type="password" name="password" value="" id="password" class="middle-size">
                                    </span>
                                    {% if regError.password is defined%}
                                         <small class="error">{{ regError.password }}</small>
                                    {% endif %}
                                </div>

                                <div class="w100 block ">
                                    <label for="password_again">{% trans %}Repeat password{% endtrans %}</label> 
                                    <span class="input-with-unit">
                                        <input type="password" name="password_again" value="" id="password_again" class="middle-size">
                                    </span>
                                    {% if regError.password_again is defined%}
                                         <small class="error">{{ regError.password_again }}</small>
                                    {% endif %}               
                                </div>
                            </fieldset>

                            <div class="clearfix">
                                <input type="submit" value="Registrieren" name="submit" class="button secondary small right">
                            </div>
                            
                        </form>
                        {% endif %}
                    </div>

                    

                    <div class="forgotPassword  boxWrapper{% if switchpath == 'forgotpw' %} active{% endif %}" id="forgotPassword">
                        <form action="forgotpw" method="post">
                            <fieldset>
                                <legend onclick="show('log');">{% trans %}Forgot password?{% endtrans %}</legend>
                                <p class="info">
                                    {% trans %}A link for changing your password will be sent via email.{% endtrans %}
                                </p>
                                <div class="">
                                    <label for="send_username">{% trans %}Username{% endtrans %}
                                    <input id="send_username" name="send_username" class="" type="text" value="">
                                    </label>
                                </div>
                            </fieldset>

                            <div class="clearfix">
                                <input type="submit" value="{% trans %}Send link{% endtrans %}" name="submit" class="button secondary small right">
                            </div>
                            
                            <div>
                                <a class="loginBoxChange log" href="#" >{% trans "Back to login" %}</a>
                            </div>
                        </form>
                      
                    </div>


                </aside>

            </div>
        </div>
    </div>
    
    <div class="vorteile">
        <div class="row">
            <div class="small-12 large-4 columns">
                <h3><i class="fa fa-bar-chart"></i> {% trans "Statistics" %}</h3>
                <p>{% trans %}RUNALYZE analyzes your complete training, calculates your shape, computes prognoses and <strong>visualizes your training in plots</strong> - more detailed than any other sports diary.{% endtrans %}</p>
            </div>
            <div class="small-12 large-4 columns">
                
                <h3><i class="fa fa-cogs"></i> {% trans %}Configuration{% endtrans %}</h3>
                <p>{% trans %}RUNALYZE Runalyze is completely <strong>configurable</strong>. You can decide by yourself which information of your training you want to record and which <strong>statistics</strong> are being displayed on which place.{% endtrans %}</p>   
            </div>
            <div class="small-12 large-4 columns">
                
                <h3><i class="fa fa-users"></i> {% trans %}By athletes for athletes{% endtrans %}</h3>
                <p>{% trans %}RUNALYZE is created <strong>by athletes for athletes</strong>. Whenever you have comments, problems or wishes: Please contact our Runalyze team. It's near and dear to us{% endtrans %}</p>
            </div>
        </div>
    </div>


</main>


{% endblock %}

