{% extends "_layout.html.twig" %}

{% block content %}
<main>
    <div class="intro">
        <div class="row" >
            <div class="small-8 large-8 columns">
                <h2>RUNALYZE ist dein Lauftagebuch</h2>
                <p>Es fokussiert sich auf das Laufen und hebt sich mit einzigartigen Rechenspielen, vielen Statistiken und Wettkampfprognosen von anderen Sporttagebüchern ab.<br> 
    Auf nur einer Seite hast du deine letzten Trainingseinheiten sowie aktuelle Prognosen und deine Form im Überblick. RUNALYZE ist vollständig konfigurierbar. Sportarten und Sporttypen kannst du nach deinen Bedürfnissen anpassen. </p>

                <div class="row">
                    <div class="small-12 large-6 columns">
                        <h3>Noch kein Mitglied?</h3>
                        <p>Du bist noch kein Mitglied? Teste RUNALYZE jetzt <strong>kostenlos</strong> und finde mehr heraus!</p>
                        <a href="#" class="button">Jetzt testen!</a>

                    </div>
                    <div class="small-12 large-6 columns">

                        <p class="">
                            {% trans %}
                                Until now <strong>{{ numUser }}</strong> athlete is registered and
                            {% plural numUser %}
                                Until now <strong>{{ numUser }}</strong> athletes are registered and
                            {% endtrans %}
                            {% trans %}
                                has logged <strong>{{ numKm }}</strong>.
                            {% plural numUser %}
                                have logged <strong>{{ numKm }}</strong>.
                            {% endtrans %}

                            <br>

                            {% trans %}
                                <strong>{{ numUserOnline }}</strong> athlete is online.
                            {% plural numUser %}
                                <strong>{{ numUserOnline }}</strong> athletes are online.
                            {% endtrans %}
                        </p>

                    </div>
                </div>

            </div>
            <div class="small-4 large-4 columns">
                <div id="login-panel">
                    <a id="log" href="#" ><i class="fa fa-fw fa-lg fa-sign-in"></i> Einloggen</a>
                    <a id="reg" href="#" ><i class="fa fa-fw fa-lg fa-user"></i> Neuen Account erstellen</a>
                    <a id="pwf" href="#" ><i class="fa fa-fw fa-lg fa-lock"></i> Passwort vergessen?</a>
                </div>
                
                <aside class="loginBox">
                    <div id="login">
                        <form action="login.php" method="post">
                            <fieldset>
                                <legend>{% trans "Login" %} {% trans "Please login" %}</legend>
                                
                                BEISPIELFELD mit icon vorne wo label steht?
                                <div class="row collapse prefix-radius">
                                    <div class="small-3 columns">
                                      <span class="prefix">Label</span>
                                    </div>
                                    <div class="small-9 columns">
                                      <input type="text" placeholder="Value">
                                    </div>
                                  </div>
                                
                                <div class="">
                                    <label for="username">
                                        {% trans "Username" %}
                                        <input id="username" name="username" class="" type="text" value="">
                                    </label>
                                </div>
                                <div class="">
                                    <label for="password" class="error">{% trans "Password" %}
                                        <input id="password" name="password" class="" type="password">
                                    </label>
                                    <small class="error">wrong Password</small>
                                </div>
                                <div class="">
                                    <div class="switch small">
                                        <input id="autologin" name="autologin" type="checkbox">
                                        <label for="autologin" class=""></label>
                                        {% trans "Remember me" %}
                                    </div> 
                                    
                                    
                                </div>
                            </fieldset>
                            <div class="">
                                <input type="submit" value="{% trans "Login" %}" name="submit" class="button secondary small">
                            </div>
                        </form>
                    </div>
                    <div id="register">

                        <div id="registerFormular" style="display:none;">
                            <form action="login.php" method="post">
                                <fieldset>
                                    <legend onclick="show('log');">Neuen Account erstellen</legend>
                                    <div class="w100 block">
                                        <label for="new_username">Nutzername</label> 
                                        <span class="input-with-unit">
                                            <input type="text" name="new_username" value="" id="new_username" class="middle-size">
                                            <label for="new_username" class="input-unit">&nbsp;<i class="fa fa-fw fa-user"></i></label>
                                        </span>
                                    </div>

                                    <div class="w100 block ">
                                        <label for="name">Name</label> 
                                        <span class="input-with-unit">
                                            <input type="text" name="name" value="" id="name" class="middle-size">
                                            <label for="name" class="input-unit">
                                                &nbsp;<i class="fa fa-fw fa-user"></i>
                                            </label>
                                        </span>
                                    </div>

                                    <div class="w100 block ">
                                        <label for="email">E-Mail-Adresse</label>
                                        <span class="input-with-unit">
                                            <input type="text" name="email" value="" id="email" class="middle-size">
                                            <label for="email" class="input-unit">
                                                &nbsp;<i class="fa fa-fw fa-envelope"></i>
                                            </label>
                                        </span>
                                    </div>

                                    <div class="w100 block ">
                                        <label for="password">Passwort</label> 
                                        <span class="input-with-unit"><input type="password" name="password" value="" id="password" class="middle-size">
                                            <label for="password" class="input-unit">
                                                &nbsp;<i class="fa fa-fw fa-lock"></i>
                                            </label>
                                        </span>
                                    </div>

                                    <div class="w100 block ">
                                        <label for="password_again">Passwort wiederholen</label> 
                                        <span class="input-with-unit">
                                            <input type="password" name="password_again" value="" id="password_again" class="middle-size">
                                            <label for="password_again" class="input-unit">
                                                &nbsp;<i class="fa fa-fw fa-lock"></i>
                                            </label>
                                        </span>
                                    </div>
                                </fieldset>

                                <div class="">
                                    <input type="submit" value="Registrieren" name="submit" class="button small">
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="forgotPassword" id="forgotPassword" style="display:none;">
                        <form action="login.php" method="post">
                            <fieldset>
                                <legend onclick="show('log');">Passwort vergessen?</legend>
                                <div class="">
                                    <label for="send_username">Nutzername
                                    <input id="send_username" name="send_username" class="" type="text" value="">
                                    </label>
                                </div>

                                <p class="info">
                                    Ein Link zur Passwortänderung wird an deine eingetragene E-Mail-Adresse gesendet.
                                </p>
                            </fieldset>

                            <div class="">
                                <input type="submit" value="Link senden" name="submit" class="button">
                            </div>
                        </form>
                    </div>


                </aside>

            </div>
        </div>
    </div>
    
    <div class="vorteile">
        <div class="row">
            <div class="small-12 large-4 columns">
                <h3><i class="fa fa-bar-chart"></i> Statistiken</h3>
                <p>Runalyze analysiert dein komplettes Training, berechnet deine Form, stellt Prognosen auf und visualisiert dein Training in Diagrammen - so ausführlich wie kein anderes Lauftagebuch.</p>
            </div>
            <div class="small-12 large-4 columns">
                
                <h3><i class="fa fa-cogs"></i> Konfiguration</h3>
                <p>Runalyze ist vollständig konfigurierbar. Du kannst selbst bestimmen, welche Daten du für deine Trainings erfassen möchtest und welche Statistiken dir wo angezeigt werden.</p>
            </div>
            <div class="small-12 large-4 columns">
                
                <h3><i class="fa fa-users"></i> Von Läufern für Läufer</h3>
                <p>Runalyze kommt von Läufern für Läufer. Wann immer du Anmerkungen, Probleme oder Wünsche hast: Sag uns Bescheid, es liegt uns am Herzen!</p>
            </div>
        </div>
    </div>


</main>


{% endblock %}

